<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/memory.png" alt="">
  </div>
  <div class="headings">
    <h2>TechHistory Hub</h2>
    <h3>By Unekwuojo James</h3>
    <a href="/memories" class="btn">View Histories</a>
  </div>
</header>


<%- include('partials/footer'); -%>