<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img style="border-radius:15px ;" src="/Dennis.png" alt="smoothie recipe icon">
    <h4>Dennis Ritchie</h4>
    <p>Inventor of the C programming language in 1970s</p>
  </li>
  <li class="recipe">
    <img style="border-radius:15px ;" src="/Guido.png" alt="smoothie recipe icon">
    <h4>Guido van Rossum</h4>
    <p>Inventor of Python Programming language in 1980s with first release in 1991</p>
  </li>
  <li class="recipe">
    <img style="border-radius:15px ;" src="/Brendan.png" alt="smoothie recipe icon">
    <h4>Brendan Eich</h4>
    <p>Inventor of JS(JavaScript) in 1995 while he was working at Netscape Corporation. He developed this PL in just 10 days </p>
  </li>
  <li class="recipe">
    <img style="border-radius:15px ;" src="/james.png" alt="smoothie recipe icon">
    <h4>James Gosling</h4>
    <p>Inventor of Java programming language in the early 1990s with his team at Sun Microsystems.</p>
  </li>
  <li class="recipe">
    <img style="border-radius:15px ;" src="/Tim_Berners-Lee.png" alt="smoothie recipe icon">
    <h4>Tim Bernes Lee</h4>
    <p>Inventor of WWW(World Wide Web)</p>
    <p>By 1990 with the help of his colleague the first browser and server was developed. ('WWW' and 'httpd')</p>
  </li>
  <li class="recipe">
    <img style="border-radius:15px ;" src="/Ryan_Dahl.png" alt="smoothie recipe icon">
    <h4>Ryan Dahl</h4>
    <p> In 2009 he created  NodeJS a JS(JavaScript) runtime environment  built on chrome V8 engine.   </p>
    <p></p>
  </li>
</ul>

<%- include('partials/footer'); -%>